body{
    margin: 0px;
    /* background-image: url('paybg3.jpg');
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 100%;
    background-attachment: scroll; */
}
#nav{
    padding: 1px 1px 1px 1px;
   font-size: 18px;
   font-weight: bolder;
   background-color: rgb(85, 119, 223);
   color: rgb(255, 255, 255);
   text-align: center;


}
.faredisplay{
    margin-top: 30px;
    text-align: center;
    font-size: large;
  
}
.flex-container{
    margin: auto;
    margin-top: 0.5cm;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 242);
    border-radius: 1cm;
    width: 50%;
    
   
}
.main-container{
    /* margin: 5%; */
    line-height: 2cm;
    color: rgb(0, 0, 0);
    font-size: medium;

}
.footer{  
  word-spacing: 1cm;
}
.MasterCardImg{
   height: 50px;
   width: 100px;
}
.VisaCardImg{
  height: 50px;
  width: 100px;
  
}
.UPIImg{
    height: 50px;
    width: 100px;
}
.PaytmImg{
    height: 50px;
    width: 100px;
}
.PhonePeImg{
    
    align-content: center;
    height: 50px;
    width: 100px;
}

.Credit-card{
    padding: 0.5cm 2cm 0.5cm 2cm;
    line-height: 0.5cm;
    
    
}
.Debit-card{
    padding: 0.5cm 2cm 0.5cm 2cm;
    line-height: 0.5cm;
}
.NetBanking{
    padding: 0.5cm 2cm 0.5cm 2cm;
    line-height: 0.5cm;
}
.UPI{
    padding: 0.5cm 2cm 0.5cm 2cm;
    line-height: 0.5cm;
   
}
#fared{
    color: red;
    word-spacing: 0.1cm;
}
