p{
   text-align: center;
 
   font-size: larger;
   line-height: 1.5cm; 

}
#QR {
   display: flex;              /* Use Flexbox */
   align-items: center;        /* Vertically center the content */
   justify-content: center;    /* Horizontally center the content */
   height: 100px;              /* Set a height if needed for alignment */
}
ul{   
text-align: center;
justify-content: center;
 
}
.bold{
   font-weight: bold;
}
.bid{
   text-align: center;
   line-height: 1.5cm;
}
.nav{
   
   text-indent: 1cm;
   padding:  8px  8px 8px 8px;
   background-color: rgb(44, 217, 223);
   word-spacing: 0.5cm;
   
}
#cancel{

   
 text-align: center;
  
}
a:hover{
   
   text-decoration: underline;
}
